body{
	background-color: hsl(30, 38%, 92%);
}
.contenedor-producto{
	margin: 24vh auto;
	width: 40vw;
	height: 52vh;
	display: flex;
}

.producto-img{
	width: 50%;
	height: 100%;
}

.producto-img img{
	width: 100%;
	height: 100%;
	outline: 5px solid yello;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.producto-info{
	width: 50%;
	background-color: #fff;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

p{
	background-color: #fff;
	margin: 10px 28px;
}

.contenedor-producto .producto-info{
	display: flex;
	flex-direction: column;
}

.contenedor-producto .producto-info .producto-titulo{
	font-family: Montserrat;
	font-weight: 400;
	color: hsl(228, 12%, 48%);
	font-size: 17px;
	margin-top: 30px;
	order: 1;
}

.contenedor-producto .producto-info .producto-marca{
	font-family: Fraunces;
	font-size: 32px;
	font-weight: 700;
	color: hsl(212, 21%, 14%);
	margin-top: 10px;
	order: 2;
}

.contenedor-producto .producto-info .producto-descripcion{
	height: 70px;
	font-family: Montserrat;
	font-weight: 400;
	color: hsl(228, 12%, 48%);
	font-size: 14px;
	margin-top: 14px;
	order: 3;
}

.contenedor-producto .producto-info .producto-precio{
	font-family: Fraunces;
	margin-top: 10px;
	display: flex;
	order: 4;
}

.contenedor-producto .producto-info .producto-precio1{
	font-family: Fraunces;
	font-size: 29px;
	color: hsl(158, 36%, 37%);
}

.contenedor-producto .producto-info .producto-precio2{
	margin-left: 25px;
	font-family: Fraunces;
	font-size: 13px;
	color:  hsl(228, 12%, 48%);
	text-decoration:line-through;
	align-self: center;
}

.contenedor-producto .producto-info .producto-boton-contenedor{
	margin: 17px 28px;
	order: 5;
}

.contenedor-producto .producto-info .producto-boton{
	background-color: hsl(158, 36%, 37%);
	width: 100%;
	border: 5px solid hsl(158, 36%, 37%);
	border-radius: 10px;
	padding: 10px;
	padding-left: 36px;
	color: #fff;
	font-size: 17px;
	font-family: Montserrat;
	font-weight: 700;
	background-image: url('imagenes/carrito de compras.png');
	background-repeat: no-repeat;
	background-size: 22px 17px;
	background-position: 45px 10px;
}

.contenedor-producto .producto-info .producto-boton:hover{
	background-color: hsl(158, 36%, 25%);
	border: 5px solid hsl(158, 36%, 25%);
	cursor: pointer;
}

.producto-boton-contenedor:hover ~ .producto-descripcion{
	font-size: 12.5px;
	transition: 0.4s;
}